# Project exclude paths
.DS_Store
/bin/
/allure-results/
/.gradle/
/build/
/build/classes/java/main/
/build/classes/java/test/

# Default ignored files
/shelf/
/workspace.xml
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
